{% extends '@CrellPlanedo/layout.html.twig' %}

{% block title %}Latest articles{% endblock %}

{% block page_contents %}

    {% if entries|length > 0 %}
        {% for entry in entries  %}
            {{ include('@CrellPlanedo/html_feed/_entry.html.twig', {entry: entry}) }}
        {% endfor %}

        <div>
        {% if previous >= 0 %}
            <a href="{{ path('crell_planedo_html_main', { offset: previous }) }}" rel="prev">Previous</a>
        {% endif %}

        {% if next < entries|length %}
            <a href="{{ path('crell_planedo_html_main', { offset: next }) }}" rel="next">Next</a>
        {% endif %}
        </div>

    {% else %}
        <div>No entries have been found</div>
    {% endif %}

{% endblock %}
