<aside class="feed-links">
    <h2>Feeds</h2>
    <ul>
        <li><a href="{{ path('planedo_atom_main') }}">Atom</a></li>
        <li><a href="{{ path('planedo_rss_main') }}">Rss</a></li>
    </ul>
</aside>
