{% extends '@CrellPlanedo/base.html.twig' %}

{% block body %}
    <h1>{% block title %}{% endblock %}</h1>

    <div class="content">
        <main>
            {% block page_contents %}{% endblock %}
        </main>

        <div class="sidebar">
            {{ render(controller(
                'Crell\\Bundle\\Planedo\\Controller\\BlogRollController::mostActive', {max: 3}
            )) }}

            {{ include('@CrellPlanedo/_feeds.html.twig') }}
        </div>
    </div>
{% endblock %}
