{#{% extends 'layout.html.twig' %}#}
{% extends '@EasyAdmin/page/content.html.twig' %}

{# TODO: Make this prettier. #}

{% block title %}User settings{% endblock %}

{% block main %}

<div class="example-wrapper">
    {{ form(form) }}
</div>
{% endblock %}
